
P&P2_FPS/.idea/.idea.P&P2_FPS/.idea/workspace.xml
/P&P2_FPS/Assets/Scripts/BulletDeBuff.cs.meta
/P&P2_FPS/Assets/Scripts/DeBuff.cs.meta
/P&P2_FPS/Assets/Scripts/ScriptableDeBuffs.cs.meta
/.gitignore
/P&P2_FPS/Assets/ThirdParty/First aid jar/Textures/firstaid_2_Color.tga
/P&P2_FPS/Assets/ThirdParty/First aid jar/Textures/firstaid_2_Color.tga.meta
/P&P2_FPS/Assets/ThirdParty/Polygonmaker/Polygonmaker - Shader/URP/Shaders URP.unitypackage.meta
/P&P2_FPS/ProjectSettings/Packages/com.unity.probuilder/Settings.json
/.vs
/P&P2_FPS/Assets/Scenes/BossScene.unity
/P&P2_FPS/Assets/Scenes/BossScene.unity
/.gitignore
